#login
  %h2 Resend confirmation instructions

  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :remote => true, :method => :post }) do |f|
    = devise_error_messages!
    #errors
    %fieldset.registration
      .field
        = f.label :email, "Email Address"
        %br
        = f.email_field :email
      .actions
        = f.submit "Resend confirmation instructions"
  = render :partial => "devise/shared/links"

