%h1 Movie posts

= link_to "Back to Movie", edit_admin_movie_path(@movie)
%table
  %tr
    %th Content
    %th facebook name
    %th posted on
    %th Review
    %th

  - @facebook_feeds.each do |post|
    %tr
      %td= post.value
      %td= post.facebook_name
      %td= post.posted_on
      %td= select_tag "review_#{post.id}", options_for_select(review_options, post.review), :class => 'facebook_option_change'
      %td= link_to 'Destroy', admin_movie_movie_post_path(@movie, post), :confirm => 'Are you sure?', :method => :delete

= will_paginate @facebook_feeds

