

%table
  %tr
    %th Content
    %td= @post.value
  %tr
    %th Review
    %td= @post.review
  %tr
    %th By
    %td
      = image_tag("https://graph.facebook.com/#{@post.fbid}/picture")
      = @post.facebook_name
  %tr
    %th on
    %td
      = @post.posted_on.to_date

= link_to "Back", :back
|
= link_to 'Delete', admin_movie_movie_post_path(@movie, @post), :confirm => 'Are you sure?', :method => :delete

