= form_for([movie, Comment.new], :remote => true) do |f|
  #error_container_id
    = render '/shared/error_display', {:error_object => f.object }

  .field
    %div{:style => 'width:15%;float:left;margin-top:5px;'}
      = f.label :comment, 'ADD COMMENTS'
    %div{:style => 'width:58%;float:left'}
      = f.text_area :comment, :rows => 4, :cols => 50
    %div{:style => 'width:25%;float:left'}
      .actions.right
        = f.submit 'Post comment'
  .clear

