= form_for [movie, Comment.new] do |f|
  = render '/shared/error_display', {:error_object => f.object}

  .field
    = f.label :comment
    %br
    = f.text_area :comment, :rows => 4, :cols => 100 
 
  .actions
    = f.submit 'Save comment'
