%table.listing
  %tr
    %th Celebrity Name
    %td
      = image_tag(@celebrity.profile_picture.url(:thumb))
      = @celebrity.name
  %tr
    %th Type
    %td= @celebrity.celebrity_type
  %tr
    %th Birthdate
    %td= @celebrity.birthdate
  %tr
    %th Birthplace
    %td= @celebrity.birthplace
  %tr
    %th TwitterID
    %td= @celebrity.twitterid
  %tr
    %th Summary
    %td= @celebrity.summary

= link_to "Back", admin_celebrities_path
|
= link_to "Edit", edit_admin_celebrity_path(@celebrity)
|
= link_to "Destroy", admin_celebrity_path(@celebrity) , :confirm => 'Are you sure?', :method => :delete

