= render 'shared/meta_title_and_keywords', { :object => @movie }
= content_for :heading do
  %span Movie Review:
  = @movie.name

.containerIn.borderDiv
  .moviBanner.left
    .moviImage.left
      = image_tag @movie.banner_image, :size => "125x200"
    %a{:href => "#"}
      %img{:src => "/images/viewtrailer.jpg"}
    %br
    %a{:href => "#"}
      %img{:src => "/images/followbutton.jpg"}
  .moviDetail.right
    .detail
      %h3 Movie
      .detailLeft.left
        .criticsRating
          %h4 Critics rating
          .ratingBar.left
            = ratingbar(@movie.average_critics_reviews_rating_percent)
          .ratingvalue.right
            = "#{@movie.average_critics_reviews_rating_percent} %"
          .clear
          = link_to "Average of #{@movie.critics_reviews.count} critics", '#'
        .criticsRating
          %h4 Users rating
          .ratingBar.left
            = ratingbar(@movie.average_rating_percent)
          .ratingvalue.right
            = "#{@movie.average_rating_percent} %"
          .clear
          = link_to "Average of #{@movie.reviews.count} critics", '#'
      .friendsLiked.right
        %h4 Friends Linked
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %br
        = render :partial => 'shared/rate'
        %br
        %a{:href => "#"}
          %img{:src => "/images/recomendbutton.jpg"}
      .clear
    .detail
      %h3 MOVIE INFORMATION
      %h5
        DIRECTOR:
        %span.director Raj Kumar
        RELEASE DATE :
        %span 7 January 2011 (India)
      %h5.cast
        CAST
        %a{:href => ""} See More(32)
      .leftBox.left
        .actress.left
          %img{:src => "/images/bubblessabharwal.jpg"}
        .actressNames.right
          %h4.large Bubbles Sabharwal
          %h4 as Mallika Sehgal
        .clear
        .actress.left
          %img{:src => "/images/ranimukherjee.jpg"}
        .actressNames.right
          %h4.large Rani Mukherjee
          %h4 as Meera Gaity
        .clear
        .actress.left
          %img{:src => "/images/myrakarn.jpg"}
        .actressNames.right
          %h4.large Myra Karn
          %h4 as Jessica lall
      .rightBox.right
        .actress.left
          %img{:src => "/images/neilbhoopalam.jpg"}
        .actressNames.right
          %h4.large Neil Bhoopalam
          %h4 as Vikram Jai Singh
        .clear
        .actress.left
          %img{:src => "/images/vidyabalan.jpg"}
        .actressNames.right
          %h4.large Vidya Balan
          %h4 as Sabrina Lall
        .clear
        .actress.left
          %img{:src => "/images/shireeshsharma.jpg"}
        .actressNames.right
          %h4.large Shireesh Sharma
          %h4 as Pramod Bharadwaj
      .clear
  .clear
  .right
    = link_to pluralize(@movie.comments.count, 'comment') , movie_comments_path(@movie) , :id => 'comment_count'
  .clear
  #tabs
    %ul
      %li
        %a{:href => "#tabs-1"} Critics
      %li
        %a{:href => "#tabs-2"} Users
      - if current_user && current_user.facebook_omniauth
        %li
          %a{:href => "#tabs-3"} Friends
    #tabs-1
      %p sort by date
      - @movie.critics_reviews.in_groups_of(2) do |group|
        - group.each do |critics_review|
          - unless critics_review.blank?
            %div.reviewBox.left
              = image_tag(critics_review.critic_image)
              %p
                = truncate(critics_review.summary, :length => 120)
              %p
                = link_to "Read full review", critics_review
        .clear

    #tabs-2
      %p users
    - if current_user && current_user.facebook_omniauth
      #tabs-3
        %p friends
        - current_user.friends_liked_movie(@movie).each do |like|
          = image_tag("https://graph.facebook.com/#{like.fbid}/picture")

  %br
  - unless current_user.blank?
    = render '/comments/form', {:movie => @movie}
#rate_movie{:style => 'display:none;'}
  = render :partial => "reviews/form", :locals => { :movie => @movie}

