#login
  .wrapper
    #message
      %h2 Change your password
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:remote => true, :method => :put }) do |f|
      = f.hidden_field :reset_password_token
      #errors
      %fieldset.registration
        .field
          = f.label :password, "New password"
          %br
          = f.password_field :password
        .actions
          %br
          = f.submit "Change my password"
          \- or -
          = link_to 'Cancel', root_path

= render :partial => "devise/shared/links"

