= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|  
  = devise_error_messages!
  %fieldset.registration
    .field 
      = f.label :email, 'Email address'
      %br
      = f.text_field :email  
    .field 
      = f.label :password
      %br
      = f.password_field :password 
    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation  
 
    - resource.build_user_profile if resource.user_profile.blank?
    = f.fields_for :user_profile do |ff|
      .field 
        = ff.label :display_name
        %br
        = ff.text_field :display_name 
         
      .field 
        = ff.label :dob, 'Date of birth'
        %br
        = ff.text_field :dob
      .field 
        = ff.label :dob, 'Sex'
        %br
        = ff.select :sex, ['Male', 'Female']
    
      = f.hidden_field 'agreement', :value => 1
    .actions
    
      = f.submit 'Update profile'
      \- or - 
      = link_to 'Cancel', root_path
  
 
