%div.sortbyDate.left
  %label  Sort By
  = select_tag "sort", options_for_select([['Date', 'release_date'], ['Rating','rating']], params[:sort] || 'release_date' ) , :onchange => "critics_reviews_sort(#{@movie.id}, this.value);"
.pagination.right
  %span.left
    %a{:href => "#"}
      %img{:src => "/images/paginationLeft.jpg"}
  %span
    = page_entries_info @critics_reviews
  %span.right
    %a{:href => "#"}
      %img{:src => "/images/paginationRight.jpg"}
.clear
- @critics_reviews.in_groups_of(2) do |group|
  - group.each do |critics_review|
    - unless critics_review.blank?
      %div{ :style => "width:315px;margin:5px 0px 10px 20px;", :class => "left"}
        %div.reviewBox.left
          %div.reviewIcon.left
            = image_tag(critics_review.critic_image)
          %p
            = truncate(critics_review.summary, :length => 120)
          = link_to "Read full review", critics_review.link, :target => '_blank'
        .clear
        .review
          .photo.left
            = image_tag(critics_review.film_critic_profile_image)
          .profile.right
            %h3= critics_review.film_critic_name
            %p= critics_review.film_critic.organization
            %p.date= Time.parse(critics_review.review_date.to_s).strftime('%d %B %Y').to_s rescue ''
.clear

