.footer
  .likeBox.left
    %iframe{:frameborder => "1px", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMuviin%2F164862676894836&width=294&colorscheme=light&show_faces=true&stream=false&header=false&height=180", :style => "background-color:#ECECEC; overflow:hidden; width:290px; height:180px;"}
  .col.left
    %h3 About Us
    %hr/
    %ul
      %li= link_to "What is Muvi", find_page('what-is-muvi')
      %li= link_to "How does it work", find_page('how-does-it-work')
      /%li= link_to "How do the reviews work", find_page('how-do-the-reviews-work')
      /%li= link_to "FAQs", find_page('faq')
  .col.left
    %h3 Contact Us
    %hr/
    %ul
      %li= link_to "Contact Us", contact_us_path
      /%li= link_to "Submit a Question", find_page('submit-a-question')
      /%li= link_to "Advertise With Us", find_page('advertise-with-us')
      /%li= link_to "Investor Relationships", find_page('investor-relationships')
  .col.left
    %h3 Quick Statistics
    %hr
    %ul.quickStatistics
      site_stat = SiteStat.first
      %li
        = site_stat.movies_count
        Movies
      %li
        = site_stat.reviews_count
        Movie reviews
      %li
        = site_stat.celebrities_count
        Celebrities
  .clear
.footerBottom
  .footerLeft.left
    %p= "© #{Time.now.strftime('%Y')} Muvi.in, All Rights Reserved"
  .footerRight.right
    %img{:src => "/images/footerMoviIcon.jpg"}/

