#header
  .left.logo
    = link_to image_tag('logo_in.png'), root_path
  .right
    .linkLeft.left
    .linksMid.left
      %ul.links.right
        - unless current_user
          %li= link_to 'Register', new_user_registration_path, :class => 'register', :rel => 'facebox'
          %li= link_to 'Login', new_user_session_path, :class => 'login', :rel => 'facebox'
          %li.last= link_to image_tag('/images/facebookicon.gif'), "/auth/facebook"
        - else
          %li= link_to 'Profile', edit_user_profile_path(current_user), :class => 'profile'

          %li.last= link_to 'Logout', destroy_user_session_path, :class => 'logout'
    .linkRight.right
    .clear
  /
    .languageSelect.right
      %span
        Movie Language
      #mainselection
        = select_tag 'Language', options_for_select([ ['Hindi', 'Hindi'],['Kannada', 'Kannada'],['English','English'],['Tamil','Tamil'] ])
  .clear
  #top_bar
    .headerLeft.left
      %ul.tabs
        %li{:class => ('active' if request.fullpath == '/')}
          = link_to 'Reviews', root_path
        %li= link_to 'Coming Soon', coming_soon_movies_path , :class => ('active' if request.fullpath =~ /coming_soon_movies/)
        %li
          %a{:href => "#"} Movie News
        %li
          %a{:href => "#"} Celebrities
        %li
          %a{:href => "#"} Community
    .headerRight.right
      .search.right
        #search
          = form_tag(search_path, :html => {:method => :get}) do |f|
            = text_field_tag 'q', (params[:q] rescue ''), :placeholder => "Enter Movie or Celebrity Name" ,:class => 'searchBox'
            .btn.right
              = submit_tag "Search"
    .clear

