#header
  .left.logo
    %img{:src => "/images/logo_in.png"}/
  .right
    %ul.links.right
      - unless current_user
        %li= link_to 'Register', new_user_registration_path, :class => 'register'
        %li= link_to 'Login', new_user_session_path, :class => 'login'
        %li.last= link_to image_tag('/images/facebookicon.gif'), "/auth/facebook"
      - else
        %li= link_to 'Profile', edit_user_profile_path(current_user), :class => 'profile'

        %li.last= link_to 'Logout', destroy_user_session_path, :class => 'logout'
    .clear
  -#
    .languageSelect.right
      %span
        Movie Language
      #mainselection
        = select_tag 'Language', options_for_select([ ['Hindi', 'Hindi'],['Kannada', 'Kannada'],['English','English'],['Tamil','Tamil'] ])
  .clear
  #top_bar
    .headerLeft.left
      %ul.tabs
        %li{:class => ('active' if request.fullpath == '/')}
          = link_to 'Reviews', root_path
        %li= link_to 'Coming Soon', coming_soon_movies_path , :class => ('active' if request.fullpath =~ /coming_soon_movies/)
        %li
          %a{:href => "#"} Movie News
        %li
          %a{:href => "#"} Celebrities
        %li
          %a{:href => "#"} Community
    .headerRight.right
      .search.right
        #search
          = form_for Movie.search, :url => movies_path, :html => {:method => :get} do |f|
            = f.text_field :name_contains, :value => (params[:search][:name_contains] rescue ''), :placeholder => "Enter Celebrity Name or Movie" ,:class => 'searchBox'
            .btn.right
              = f.submit "Search"
    .clear

