.containerIn.borderDiv
  .moviBanner.left
    .moviImage
      = image_tag @movie.banner_image, :size => "125x200"
    %a{:href => "#"}
      %img{:src => "/images/viewtrailer.jpg"}
    %br
    %a{:href => "#"}
      %img{:src => "/images/followbutton.jpg"}
  .moviDetail.left
    .detail
      %h3 Movie
      %div{ :style => "margin-top:12px;", :class => "moviRatingBox left"}
        -if from == 'movies'
          .rating
            %h4 Critics Rating
            .ratingBar.left
              = ratingbar(@movie.average_critics_reviews_rating_percent)
            .ratingvalue.left
              = "#{@movie.average_critics_reviews_rating_percent}%"
            .clear
            = link_to "Average of #{@movie.critics_reviews.count} critics", '#critics', :onclick => "go_to_tab(0);"
        .rating
          %h4 Users Rating
          .ratingBar.left
            = ratingbar(@movie.average_rating_percent)
          .ratingvalue.left
            = "#{@movie.average_rating_percent}%"
          .clear
          = link_to "Average of #{@movie.reviews.count} ratings", '#users', :onclick => "go_to_tab(1);"
      .friendsLink.right
        %h4 Friends Liked
        - if current_user && current_user.facebook_omniauth
          -@movie.friend_likes(current_user).each do |like|
            = image_tag("https://graph.facebook.com/#{like.fbid}/picture")
        -else
          %h4 login to see who liked this movie.
          = link_to image_tag('facebookicon.gif'), "/auth/facebook"

        %br
        = render :partial => 'shared/rate'
        - unless current_user.blank?
          %br
          = link_to image_tag('recomendbutton.jpg'), '#recommendations', :rel => 'facebox'
      .clear
    .detail
      %h3 MOVIE INFORMATION
      %h5
        DIRECTOR:
        %span.director
          = @movie.directors.collect{ |director| director.name }.to_sentence
        RELEASE DATE :
        %span
          = Time.parse(@movie.release_date.to_s).strftime('%d %B %Y').to_s unless @movie.release_date.blank?
          (India)
      %h5.cast
        CAST
        = link_to "See More (#{@movie.actors.count})", '#'
      - @movie.movie_casts.actors.limit(6).each do |actor|
        .moviCasts.left
          .actress.left
            = image_tag(actor.cast.image)
          .actressNames.right
            %h4.large= actor.cast.name
            %h4
              as
              = actor.role_name
      .clear      
  .clear
  .right
    = link_to pluralize(@movie.comments.count, 'comment') , movie_comments_path(@movie) , :id => 'comment_count'
  .clear
  #reviews
    %ul
      -if from == 'movies'
        %li= link_to "Critics", "#critics"
      %li= link_to "Users", "#users"
      %li= link_to "Friends", "#friends"
    -if from == 'movies'
      #critics
        #critics_reviews
          = render '/shared/critics_reviews'
        .clear
    #users
      #movie_tweets
        = render '/shared/tweets'
      .clear
    #friends
      -if current_user && current_user.facebook_omniauth
        #facebook_posts
          = render '/shared/facebook_friends'
      -else
        #facebook_login
          %h4 login to see who liked this movie.
          = link_to image_tag('facebookicon.gif'), "/auth/facebook"

      .clear
  %br
  - unless current_user.blank?
    = render '/comments/form', {:movie => @movie}
    #recommendations{:style => 'display:none;'}
      = render "/recommendations/form", {:movie => @movie }
#rate_movie{:style => 'display:none;'}
  = render :partial => "reviews/form", :locals => { :movie => @movie}

