- unless @movies.first.blank?
  - @movies.in_groups_of(2) do |group|
    - group.each do |movie|
      - unless movie.blank?
        .box.left
          .moviBox.left
            = link_to image_tag(movie.banner_image), (from == 'coming_soon')? coming_soon_movie_path(movie) : movie_path(movie)
          .title.left
            = link_to "<h3> #{movie.name} </h3>".html_safe, (from == 'coming_soon')? coming_soon_movie_path(movie) : movie_path(movie)
          .right
            = thumb_class(movie.average_critics_reviews_rating_percent)
          .rating.left
            -if from == 'home'
              %h4 Critics rating
              .ratingBar.left
                = ratingbar(movie.average_critics_reviews_rating_percent)
              .ratingvalue.left
                = "#{movie.average_critics_reviews_rating_percent}%"
              .clear
            %h4 Users rating
            .ratingBar.left
              = ratingbar(movie.average_rating_percent)
            .ratingvalue.left
              = "#{movie.average_rating_percent}%"
            .clear
            %div
            %h4
              = no_of_pepople_liked(movie)
          %a{:href => "#" }
            %img{:src => "images/viewTrailerBtn.jpg"}

-else
  %h3 No Movies Found

