.containerIn.borderDiv
  .leftMoviBanner.left
    .moviImage.left
      = image_tag @movie.banner_image, :size => "125x200"
    %a{:href => "#"}
      %img{:src => "/images/viewtrailer.jpg"}
    %br
    %a{:href => "#"}
      %img{:src => "/images/followbutton.jpg"}
  .moviDetail.right
    .detail
      %h3 Movie
      %div{ :style => "margin-top:12px;", :class => "leftBox left"}
        -if from == 'movies'
          .rating
            %h4 Critics Rating
            .ratingBar.left
              = ratingbar(@movie.average_critics_reviews_rating_percent)
            .ratingvalue.left
              = "#{@movie.average_critics_reviews_rating_percent}%"
            .clear
            = link_to "Average of #{@movie.critics_reviews.count} critics", '#tabs-1'
        .rating
          %h4 Users Rating
          .ratingBar.left
            = ratingbar(@movie.average_rating_percent)
          .ratingvalue.right
            = "#{@movie.average_rating_percent}%"
          .clear
          = link_to "Average of #{@movie.reviews.count} ratings", '#tabs-2'
      .friendsLink.right
        %h4 Friends Linked
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %img{:src => "/images/bubblessabharwal.jpg"}
        %br
        = render :partial => 'shared/rate'
        %br
        %a{:href => "#"}
          %img{:src => "/images/recomendbutton.jpg"}
      .clear
    .detail
      %h3 MOVIE INFORMATION
      %h5
        DIRECTOR:
        %span.director Raj Kumar
        RELEASE DATE :
        %span
          = Time.parse(@movie.release_date.to_s).strftime('%d %B %Y').to_s unless @movie.release_date.blank?
          (India)
      %h5.cast
        CAST
        %a{:href => ""} See More (32)
      .leftBox.left
        .actress.left
          %img{:src => "/images/bubblessabharwal.jpg"}
        .actressNames.right
          %h4.large Bubbles Sabharwal
          %h4 as Mallika Sehgal
        .clear
        .actress.left
          %img{:src => "/images/ranimukherjee.jpg"}
        .actressNames.right
          %h4.large Rani Mukherjee
          %h4 as Meera Gaity
        .clear
        .actress.left
          %img{:src => "/images/myrakarn.jpg"}
        .actressNames.right
          %h4.large Myra Karn
          %h4 as Jessica lall
      .rightBox.right
        .actress.left
          %img{:src => "/images/neilbhoopalam.jpg"}
        .actressNames.right
          %h4.large Neil Bhoopalam
          %h4 as Vikram Jai Singh
        .clear
        .actress.left
          %img{:src => "/images/vidyabalan.jpg"}
        .actressNames.right
          %h4.large Vidya Balan
          %h4 as Sabrina Lall
        .clear
        .actress.left
          %img{:src => "/images/shireeshsharma.jpg"}
        .actressNames.right
          %h4.large Shireesh Sharma
          %h4 as Pramod Bharadwaj
      .clear
  .clear
  .right
    = link_to pluralize(@movie.comments.count, 'comment') , movie_comments_path(@movie) , :id => 'comment_count'
  .clear
  #tabs
    %ul
      -if from == 'movies'
        %li= link_to "Critics", "#tabs-1"
      %li= link_to "Users", "#tabs-2"
      %li= link_to "Friends", "#tabs-3"
    -if from == 'movies'
      #tabs-1
        #critics_reviews
          = render '/shared/critics_reviews'
        .clear
    #tabs-2
      #movie_tweets
        = render '/shared/tweets'
      .clear
    #tabs-3
      #facebook_posts
        = render '/shared/facebook_friends'
      .clear



  %br
  - unless current_user.blank?
    = render '/comments/form', {:movie => @movie}
#rate_movie{:style => 'display:none;'}
  = render :partial => "reviews/form", :locals => { :movie => @movie}

