#trailer.hidden
  -if @movie.video
    %a#player{:href => "#{@movie.video.trailer.url.to_s}", :style => "display:block;width:520px;height:330px"}
    %script
      flowplayer("player", "/flash/flowplayer.commercial-3.2.7.swf", { key: '#$567265dcf3d158c66d6',logo: {url: '/images/logo_in.png',fullscreenOnly: false},clip: {autoPlay: false, autoBuffering: false  }  });

.containerIn.borderDiv
  .moviBanner.left
    .moviImage
      = image_tag @movie.banner_image, :size => "125x200"
    -if @movie.video
      %a{:href => "#", :class => 'trailerLink'}
        %img{:src => "/images/viewtrailer.jpg"}
    %div.shareThis
      %h3
        SHARE THIS
      %a{:href => "http://www.facebook.com/sharer.php?u=#{movie_url(@movie)}", :onclick => "window.open('http://www.facebook.com/sharer.php?u=#{movie_url(@movie)}', 'newWindow', 'width=626, height=436'); return false;", :target => "_blank", :title => "Share on Facebook"}
        %img{:src => "/images/Ficon.jpg"}


      %a{:href=> "http://twitter.com/home?status=#{@movie.name} - #{movie_url(@movie)}", :onclick=> "window.open('http://twitter.com/home?status=#{@movie.name} - #{movie_url(@movie)}', 'newWindow', 'width=815, height=436'); return false;",  :target=>"_blank",:title => "Share on Twitter" }
        %img{:src => "/images/Ticon.jpg"}

    /= link_to image_tag("followbutton.jpg"), '#'
  .moviDetail.left
    .detail
      %h3 Movie
      %div{ :style => "margin-top:12px;", :class => "moviRatingBox left"}
        -if from == 'movies'
          .rating
            %h4 Critics Rating
            .ratingBar.left
              = ratingbar(@movie.critics_percent)
            .ratingvalue.left
              = "#{@movie.critics_percent || 0}%"
            .clear
            = link_to "Average of #{@movie.critics_reviews.count} critics", '#critics', :onclick => "go_to_tab(0);"
        .rating
          %h4= (from == 'movies')? 'Users Rating' : 'Users Interest'
          .ratingBar.left
            = ratingbar(@movie.user_percent)
          .ratingvalue.left
            = "#{@movie.user_percent || 0}%"
          .clear
          -if from == 'movies'
            = link_to "Average of #{@movie.tweets_count.to_i + @movie.reviews_count.to_i} ratings", '#users', :onclick => "go_to_tab(1);"
          -else
            = link_to "#{@movie.average_rating_count} users", '#users', :onclick => "go_to_tab(1);"
      .friendsLink.right
        %h4= (from == 'movies')? 'Friends Liked' : 'Friends who are interested'
        .friends_image
          - if current_user && current_user.facebook_omniauth
            -@movie.friend_likes(current_user).each do |like|
              .images.left
                = image_tag("https://graph.facebook.com/#{like.fbid}/picture")
          -else
            %h4 login to see who liked this movie.
            = link_to image_tag('facebookicon.gif'), "/auth/facebook"

        %br
        = render :partial => 'shared/rate', :locals => { :from => from }
        - unless current_user.blank?
          %br
          /= link_to image_tag('recomendbutton.jpg'), '#recommendations', :rel => 'facebox'
      .clear
    .detail
      = render '/shared/movie_information'
  .clear
  .right
    = link_to pluralize(@movie.comments.count, 'comment') , '#comments' , :id => 'comment_count'
  .clear
  #reviews
    %ul
      -if from == 'movies'
        %li= link_to "Critics", "#critics"
      %li= link_to "Users<span>&nbsp;</span>".html_safe, tweets_path(:id => @movie.id)
      %li= link_to "Friends <span>&nbsp;</span>".html_safe, facebook_posts_path(:id => @movie.id)
    -if from == 'movies'
      #critics
        #critics_reviews
          = render '/shared/critics_reviews'
        .clear
  %br
  - unless current_user.blank?
    = render '/comments/form', {:movie => @movie}
    #recommendations{:style => 'display:none;'}
      = render "/recommendations/form", {:movie => @movie }
  %br
  #comments
    -@movie.comments.to_level.each do |comment|
      = render '/shared/comment', { :comment => comment }
#rate_movie{:style => 'display:none;'}
  = render :partial => "reviews/form", :locals => { :movie => @movie, :review => ((from == 'movies')? false : true) }

