-if @movie_tweets.blank?
  %h4 Tweets are  not present for this movie.
-else
  - @movie_tweets.in_groups_of(2) do |group|
    - group.each do |tweet|
      - unless tweet.blank?
        %div{ :style => "width:320px;margin:10px 0px 10px 20px;", :class => "left"}
          %div.reviewBox.left
            %div.reviewIcon.right
              = thumb_class_for_union_result(tweet)
            %div.reviewText.left
              %p
                = tweet[2].html_safe
          .clear
          .review
            .photo.left
              = display_image(tweet)
            .profile.right
              %h3= display_name(tweet)
              %p= (tweet[0].to_s == 'movie_tweet')? 'Twitter' : 'Muvi.in'
              %p.date= Time.parse(tweet[0]).strftime('%d %B %Y').to_s rescue ''
          .clear
  .clear

