- unless @movies.first.blank?
  - @movies.in_groups_of(2) do |group|
    - group.each do |movie|
      - unless movie.blank?
        .box.left
          .moviBox.left
            = link_to image_tag(movie.banner_image), movie_path(movie)
          .title.left
            = link_to "<h3> #{movie.name} </h3>".html_safe, movie_path(movie)
          .right
            = thumb_class(movie.critics_percent)
          .rating.left
            %h4 Critics rating
            .ratingBar.left
              = ratingbar(movie.critics_percent)
            .ratingvalue.left
              = "#{movie.critics_percent || 0}%"
            .clear
            %h4 Users rating
            .ratingBar.left
              = ratingbar(movie.user_percent)
            .ratingvalue.left
              = "#{movie.user_percent || 0}%"
            .clear
            - if current_user && current_user.facebook_omniauth
              %h4
                = no_of_pepople_liked(movie)
                %span
                  = image_tag("BthumbIcon.jpg")
          - if movie.video
            %a{:href => "#",:id => "movie_link_#{movie.id}", :class => 'MovieTrailerLink' }
              %img{:src => "images/viewTrailerBtn.jpg"}
            %div{:id => "movie_#{movie.id}", :class => 'hidden'}
              %a{:id => "movie_video_#{movie.id}",  :href => "#{movie.video.trailer.url.to_s}", :style => "display:block;width:520px;height:330px"}
              %script
                flowplayer("movie_video_#{movie.id}", "/flash/flowplayer.commercial-3.2.7.swf", { key: '#$567265dcf3d158c66d6',logo: {url: '/images/flowplayerLogo.png',fullscreenOnly: false, top: 215, right: 10  },clip: {autoPlay: false, autoBuffering: false  }  });


-else
  %h3 No Movies Found

