%h3 MOVIE INFORMATION
%h5.cast
  CAST
  /= link_to "See More (#{@movie.actors.count})", '#'
.clear
.border
  - unless @actors.blank?
    - @actors.each do |actor|
      .moviCasts.left
        .actress.left
          = image_tag(actor.celebrity.profile_picture.url(:thumb))
        .actressNames.right
          %h4.large= actor.celebrity.name
          %h4
            as
            = actor.role_name
    .clear
%h5
  CREW
.border
  - unless @director.blank?
    .moviCasts.left
      .actress.left
        = image_tag(@director.celebrity.profile_picture.url(:thumb))
      .actressNames.right
        %h4.large= @director.celebrity.name
        %h4
          Director
  - unless @producer.blank?
    .moviCasts.left
      .actress.left
        = image_tag(@producer.celebrity.profile_picture.url(:thumb))
      .actressNames.right
        %h4.large= @producer.celebrity.name
        %h4
          Producer
  - unless @writer.blank?
    .moviCasts.left
      .actress.left
        = image_tag(@writer.celebrity.profile_picture.url(:thumb))
      .actressNames.right
        %h4.large= @writer.celebrity.name
        %h4
          Story
  - unless @music.blank?
    .moviCasts.left
      .actress.left
        = image_tag(@music.celebrity.profile_picture.url(:thumb))
      .actressNames.right
        %h4.large= @music.celebrity.name
        %h4
          Music
  .clear
%h5
  OTHER INFORMATION
.moviCasts.left
  %h5
    Release Date:
    %span= Time.parse(@movie.release_date.to_s).strftime('%d %B %Y').to_s unless @movie.release_date.blank?
  %h5
    Budget:
    %span
      %img{:src => '/images/rupee-icon.gif', :align => 'bottom'}
      = @movie.estimated_budget

.moviCasts.left
  %h5
    Genre:
    %span= @movie.genre.to_sentence
  %h5
    Box office:
    %span
      %img{:src => '/images/rupee-icon.gif', :align => 'bottom'}
      = @movie.gross_revenue

.clear

