.sidebar.right
  .GrayHeaderBox
    %h3 Friends Activity
    -if current_user && current_user.facebook_omniauth
      -Activity.friend_activities(current_user).each do |activity|
        .row
          .image.left
            = image_tag(activity.actor.image)
          .icon.right
            - if activity.subject_type == "Review"
              = rating_thumb(activity.subject.rating)
            - else
              &nbsp;
          .names.right
            %h4
              = activity.actor.display_name
              = activity.action
              = activity.secondary_subject.name
    - else
      %p Log in to see your friends' activities
      = link_to image_tag('facebookicon.gif'), "/auth/facebook"

  .GrayHeaderBox
    %h3 Top Box Office
    - Movie.top_box_office(4).each do |movie|
      .row
        .image.left
          =image_tag(movie.banner_image_thumb, :width => 42, :height => 42)
        .icon.right
          %a{:href => "#"}
            = thumb_class(movie.average_critics_reviews_rating_percent)
        .names.right
          %h4= movie.name
    %br/
    %a{:href => "#"}
      More
      %span »
  .GrayHeaderBox
    %h3 Recent Reviews
    %br/
    %img{:src => "/images/slider.jpg"}/
    %a{:href => "#"}
      Read Review
      %span »
    %a.watch{:href => "#"}
      Watch Trailer
      %span »
  .advtBanner
    %h3.advertisement Advertisement
    %img{:src => "/images/advertisementBanner.jpg"}/
  .advtBanner
    %img{:src => "/images/advertisementBanner1.jpg"}/

