.sidebar.right
  .GrayHeaderBox
    %h3 Friends Activity
    -if current_user && current_user.facebook_omniauth
      -Activity.friend_activities(current_user).each do |activity|
        .row
          .image.left
            = image_tag("https://graph.facebook.com/#{activity.facebook_id}/picture")
          .names.right
            %h4
              = activity_message(activity)
    - else
      %p Log in to see your friends' activities
      = link_to image_tag('facebookicon.gif'), "/auth/facebook"
  .GrayHeaderBox
    -if request.fullpath =~ /coming_soon_movies/
      %h3 Trending Now
      -TopTrending.includes(:movie).all.each do |tb|
        .row
          .image.left
            =image_tag(tb.movie.banner_image_thumb, :width => 42, :height => 42)
          .icon.right
            %a{:href => "#"}
              = thumb_class(tb.movie.critics_percent)
          .names.right
            %h4= link_to tb.movie.name, path_for_movie(tb.movie)

    -else
      %h3 Trending Now
      -TopTrending.includes(:movie).all.each do |tb|
        .row
          .image.left
            =image_tag(tb.movie.banner_image_thumb, :width => 42, :height => 42)
          .icon.right
            %a{:href => "#"}
              = thumb_class(tb.movie.critics_percent)
          .names.right
            %h4= link_to tb.movie.name, path_for_movie(tb.movie)

