= render 'shared/meta_title_and_keywords', { :key => 'home'}
= content_for :heading do
  Latest Movie
  %span Reviews

= content_for :breadcrumb do
  %span
    = link_to "Home &#187;".html_safe, root_path
    Reviews

.homeContainerIn.borderDiv
  = render 'shared/movies',  { :from => 'home'}
  .clear
  .right
    = will_paginate(@movies,  :class => 'muvi_pagination')
  .clear

