- @movies.each do |movie|
  %h3
    = movie.name
  %div{:style => "border: 1px solid #aaa; background: #f1f1f1; padding: 5px 10px;"}   
    %h4 Comments
    - movie.comments.each do |comment|
      = comment.comment 
    = render '/comments/form', {:movie => movie}  
    %hr
    %h4 Reviews
    Average rating:
    = movie.average_rating
    %br  
    - if current_user
      - unless current_user.reviwed_movie?(movie)
        = render '/reviews/form', {:movie => movie}
      - else
        = "Your rating #{current_user.my_rating(movie)}"
      %hr  
      %h4 Recommendations
      = render '/recommendations/form', {:movie => movie}  
  %br
  %br      
