.critics_review
  %div.col_one
    = ff.label :film_critic_id, ""
    = ff.select :film_critic_id, options_for_select(FilmCritic.option_list, ff.object.film_critic_id)
  %div.col_two
    = ff.label :rating, "Review Stars"
    = ff.select :rating, [ ['1', '1'], ['1.5', '1.5'], ['2','2'], ['2.5','2.5'], ['3','3'], ['3.5','3.5'], ['4','4'], ['4.5','4.5'], ['5','5']]
  %div.col_three
    = ff.label :link, "Link To Review"
    = ff.text_field :link
  .clear
  %div.large_text
    = ff.label :summary, "Review Text"
    = ff.text_field :summary
    %span.delete
      = link_to_remove_fields "Delete Review", ff
  %br
.clear

