= form_for([:admin, @movie], :html => { :multipart => true }) do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited this page from being saved:
      %ul
        -@movie.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name, "Movie Title"
  = f.text_field :name ,:class => 'large'
  .clear
  = f.label :wiki_link, 'Wikipedia Page'
  = f.text_field :wiki_link ,:class => 'large'
  .clear
  = f.label :fbpage_id, "Facebook Page"
  = f.text_field :fbpage_id
  .clear
  = f.label :release_date, "Released Date"
  = f.text_field :release_date, :id => 'release_date_lt'
  .clear
  = f.label :estimated_budget, 'Budget'
  = f.text_field :estimated_budget
  .clear
  = f.label :gross_revenue, 'Gross Revenue'
  = f.text_field :gross_revenue
  .clear
  = f.label :genre, 'Genre'
  = select_tag 'movie[genre][]', options_for_select(option_for_genre, @movie.genre || 'drama'), { :multiple => true }
  .clear
  #actors
    %h2.heading Cast
    = f.fields_for :actors do |actor|
      = render 'movie_actor', { :ff => actor }
    %div.add.clear
      = link_to_add_fields "Add Cast", f, :actors, 'movie_actor'
  .clear
  #crews
    %h2.heading Crew
    = f.fields_for :producers do |prod|
      = render 'movie_crew', { :ff => prod }
    = f.fields_for :directors do |dir|
      = render 'movie_crew', { :ff => dir }
    = f.fields_for :musics do |mus|
      = render 'movie_crew', { :ff => mus }
    = f.fields_for :writers do |wri|
      = render 'movie_crew', { :ff => wri }
    = f.fields_for :cinematographers do |cine|
      = render 'movie_crew', { :ff => cine }
    = f.fields_for :distributors do |dist|
      = render 'movie_crew', { :ff => dist }
    = f.fields_for :editors do |edit|
      = render 'movie_crew', { :ff => edit }
    %div.add.clear
      = link_to_add_fields "Add Crew", f, :movie_casts, 'movie_crew'

  .clear
  %div.col_one
    = f.label :poster, 'Poster'
    = image_tag(f.object.poster.url(:thumb)) unless f.object.poster_file_name.blank?
    = f.file_field :poster
  %div.col_two
    = f.label :poster_release_date, 'Poster Release Date' ,:class => 'date'
    = f.text_field :poster_release_date, :value => (@movie.poster_release_date || Date.today.to_date)
  .clear
  %div.col_one
    = f.label :trailer, 'Trailer'
    = f.file_field :trailer
  %div.col_two
    = f.label :trailer_release_date, 'Trailer Release Date' ,:class => 'date'
    = f.text_field :trailer_release_date, :value => (@movie.trailer_release_date || Date.today.to_date)
  .clear
  #critics_reviews
    %h2.heading Critics Review
    = f.fields_for :critics_reviews do |cr|
      = render 'critics_review', { :ff => cr }
    %div.add.clear
      = link_to_add_fields "Add Review", f, :critics_reviews, 'critics_review'

  = f.fields_for :meta_detail do |md|
    = md.label :meta_title
    = md.text_field :meta_title
    .clear
    = md.label :meta_keywords
    = md.text_area :meta_keywords, :rows => 5
    .clear
    = md.label :meta_description
    = md.text_area :meta_description, :rows => 5

  -unless @movie.new_record?
    %p
      Total number of facebook posts
      = @movie.facebook_feeds.all_posts.count
      = link_to "Manage Facebook Posts", admin_movie_movie_posts_path(@movie)
    %p
      Total number of tweets
      = @movie.tweets.count
      = link_to "Manage Tweets", admin_movie_movie_tweets_path(@movie)
    %p
      Total number of Comments
      = @movie.comments.count
      = link_to "Manage Comments", admin_movie_movie_comments_path(@movie)
  %hr
  .actions
    = f.submit 'Save'
    \- or -
    = link_to 'Cancel', admin_movies_path

