#crew
  %div.cast
    = ff.label :celebrity_id, "Cast"
    = ff.select :celebrity_id, Celebrity.option_list
  %div.character_type
    = ff.label :cast_type, "Type"
    = ff.select :cast_type, [['Producer','producer'], ['Director','director'], ['Musics','musics'], ['Writer','writer'], ['Cinematographer','cinematographer'], ['Distributor','distributor'], ['Editor','editor'] ]
  %div.delete
    = link_to_remove_fields "Delete Crew", ff

