.actor
  %div.col_one
    = ff.label :celebrity_id, "Cast"
    = ff.select :celebrity_id, Celebrity.option_list
  %div.col_two
    = ff.label :role_name, "Character"
    = ff.text_field :role_name
    %span.delete
      = link_to_remove_fields "Delete Cast", ff
.clear

