= form_for @search, :url => admin_movies_path, :html => {:method => :get} do |f|

  = f.label :name_contains, 'Movie title'
  = f.text_field :name_contains
  = f.label :release_date_gteq, 'Release Date between'
  = f.text_field :release_date_gteq , :id => 'release_date_lt', :size => 10
  = f.label :release_date_lteq, 'and'
  = f.text_field :release_date_lteq, :id => 'release_date_gt',  :size => 10
  = f.submit "Search"
  = link_to "New Movie", new_admin_movie_path
  .clear
  = f.check_box :poster_file_name_is_blank
  = f.label :poster_file_name_is_blank, 'Missing Poster'

  = f.check_box :trailer_file_name_is_blank
  = f.label :trailer_file_name_is_blank, 'Missing Trailer'


  = f.check_box :movie_casts_count_is_blank
  = f.label :movie_casts_count_is_blank, 'Missing Cast'

  = f.check_box :critics_reviews_count_is_blank
  = f.label :critics_reviews_count_is_blank, 'Missing Critics Review'

  = f.check_box :tweets_count_is_blank
  = f.label :tweets_count_is_blank, 'Missing Tweet Review'

%br

%table.listing
  %tr
    %th Movie Name
    %th Released Date
    %th Actions

  - unless @movies.blank?
    - @movies.each do |movie|
      %tr
        %td= movie.name
        %td= movie.release_date
        %td
          = link_to "show", admin_movie_path(movie)
          |
          = link_to "Edit", edit_admin_movie_path(movie)
          |
          = link_to "Destroy", admin_movie_path(movie), :confirm => 'Are you sure?', :method => :delete
  -else
    %tr
      %td{:colspan => 3}
        %p Sorry there are no results for your filter request(s)

= will_paginate @movies

