#login
  .wrapper
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true) do |f|
      #errors
      %fieldset.registration
      .field
        = f.label :email
        %br
        = f.email_field :email
      .field
        = f.label :password
        %br
        = f.password_field :password

      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me, 'Remember me on this computer'
      .actions
        = f.submit "Login"
        \- or -
        = link_to 'Cancel', root_path
= render :partial => "devise/shared/links"

