= form_for [:admin, @setting] do |f|
  -if @setting.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name, :size => '70'
  .field
    = f.label :key
    %label
      %i Please don't change this.
    %br
    = f.text_field :key
  .field
    = f.label :value
    %br
    = f.text_area :value, :rows => 10
  .field
    = f.label :useage
    %br
    = f.text_field :useage
  %hr
  .actions
    = f.submit 'Save setting'
    \- or -
    = link_to 'Back', admin_settings_path

