%p
  %b Name:
  = @setting.name
%p
  %b Key:
  = @setting.key
%p
  %b Meta Title:
  = @setting.value
%p
  %b Useage:
  = @setting.useage


= link_to 'Edit', edit_setting_path(@setting)
\|
= link_to 'Back', settings_path

