- if current_user && current_user.reviwed_movie?(movie)
  %p
    You have already Rated this movie, your rating is :
    = current_user.my_rating(movie)
- else
  = form_for [movie, Review.new], :remote => true do |f|
    = render '/shared/error_display', {:error_object => f.object}

    .field
      %label Post to
      = f.check_box :facebook
      Facebook
      = f.check_box :twitter
      Twitter
    .field
      %label Rate
      = f.radio_button :rating, '1'
      1
      = f.radio_button :rating, '2'
      2
      = f.radio_button :rating, '3'
      3
      = f.radio_button :rating, '4'
      4
      = f.radio_button :rating, '5'
      5
    .field
      = f.label :description, 'Review'
      %br
      = f.text_area :description, :rows => 4, :cols => 100
    .actions
      = f.submit 'Rate'

