%h1 Movie Tweets

= link_to "Back to Movie", edit_admin_movie_path(@movie)
%table
  %tr
    %th Content
    %th Twitter Screen name
    %th Tweeted on
    %th Review
    %th

  - @tweets.each do |tweet|
    %tr
      %td= truncate(tweet.content, :length => 70)
      %td= tweet.twitter_screen_name
      %td= tweet.tweeted_on.to_date
      %td= tweet.review
      %td
        = link_to 'Show', admin_movie_movie_tweet_path(@movie, tweet)
        &nbsp; | &nbsp;
        = link_to 'Edit', edit_admin_movie_movie_tweet_path(@movie, tweet)
        &nbsp; | &nbsp;
        = link_to 'Destroy', admin_movie_movie_tweet_path(@movie, tweet), :confirm => 'Are you sure?', :method => :delete

= will_paginate @tweets

