- unless @movies.first.blank?
  - @movies.in_groups_of(2) do |group|
    - group.each do |movie|
      - unless movie.blank?
        .box.left
          .moviBox.left
            = link_to image_tag(movie.banner_image), coming_soon_movie_path(movie)
          .title.left
            = link_to "<h3> #{movie.name} </h3>".html_safe, coming_soon_movie_path(movie)
          .right
            = thumb_class(movie.critics_percent)
          .rating.left
            %h4 Users interest
            .ratingBar.left
              = ratingbar(movie.user_percent)
            .ratingvalue.left
              = "#{movie.user_percent || 0}%"
            .clear

            %br
            %h4
              Release Date:
              = Time.parse(movie.release_date.to_s).strftime('%d %B %Y').to_s unless movie.release_date.blank?
          - if movie.video
            %a{:href => "#", :class => 'movietrailerLink' }
              %img{:src => "images/viewTrailerBtn.jpg"}

-else
  %h3 No Movies Found

