= render 'shared/meta_title_and_keywords', { :key => 'home'}
= content_for :heading do
  Coming soon

= content_for :breadcrumb do
  %span
    = link_to "Home &#187;".html_safe, root_path
    Coming Soon


= select_tag "Sort", options_for_select([['Latest Update', 'latest_update'], ['User Interest', 'user_interest'],['Release Date','release_date']]), :id => 'coming_soon_sort'

#coming_soon
  .homeContainerIn.borderDiv
    = render :partial => 'movies'
    .right
      = will_paginate(@movies,  :class => 'muvi_pagination')
    .clear

