= render 'shared/meta_title_and_keywords', { :object => @movie }
= content_for :heading do
  %span Movie Review:
  = @movie.name

= content_for :breadcrumb do
  %span
    = link_to "Home &#187;".html_safe, root_path
    = link_to "Coming Soon &#187;".html_safe, coming_soon_movies_path
    = @movie.name

= render '/shared/movie',  {:from => 'coming_soon'}

