.movie_display
  .left
    = @movie.name
    %br
    = image_tag('no-logo.png')
  .left.details
    %div.cast
      %span.label Cast
      = @movie.performances_actor
    %div.director
      %span.label Director:
      = @movie.directed_by
    %div.release
      %span.label Release Date:
      = @movie.initial_release_date

    %div.review
      %span.label Movie Review:
      %div Critics
      %div
        Users
        = "#{@movie.average_rating_percent} %"
      - if current_user
        %div
          = @movie.fb_friends_liked(current_user).count
          friends liked it.

    %h4 Comments
    - @movie.comments.each do |comment|
      = comment.comment
    = render '/comments/form', {:movie => @movie}

