<!DOCTYPE html>
<html>
<head>
  <title>Muvi- Admin</title>
  <%= stylesheet_link_tag 'scaffold', 'jquery-ui-1.8.4.custom', 'jHtmlArea' %>
  <%= javascript_include_tag :defaults,'jquery-ui-1.8.8.custom.min', 'jHtmlArea', 'admin' %>
  <%= csrf_meta_tag %>
</head>
 <body>
  <div id='global_links' class='right'>
    <% unless current_user -%>
      <%= link_to 'Sign-up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to_oauth2 "Sign In with Facebook" %>
    <%else-%>

      <%= link_to 'Edit profile', edit_user_registration_path %>
      <%= link_to 'Fetch fb data', fetch_path %>
      <%= link_to 'Logout', destroy_user_session_path %>
    <%end-%>
  </div>
  <div class='clear'></div>
  <div class='right'>
      <%= link_to "Movies", admin_movies_path %>
      <%= link_to "Manage Celebrities", '#'%>
      <%= link_to "Manage Users", admin_users_path %>
      <%= link_to "Manage Comments", '#' %>
      <%= link_to "CMS/Static pages", admin_pages_path %>
      <%= link_to "Reports",'#' %>
      <%= link_to "settings", admin_settings_path %>
  </div>

  <div class='clear'></div>
  <div id ='wrapper'>
    <%= yield %>
  </div>

  </body>
</html>

