<!DOCTYPE html>
<html>
  <head>
    <%= yield :meta_title_and_keywords %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'style', 'facebox', 'jquery-ui-1.8.4.custom' %>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta property="fb:admins" content="601497814" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://github.com/vijendra/ivmu/raw/master/public/javascripts/rails.js" type="text/javascript"></script>
    <script src="https://github.com/vijendra/ivmu/raw/master/public/javascripts/facebox.js" type="text/javascript"></script>
    <script src="https://github.com/vijendra/ivmu/raw/master/public/javascripts/application.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="main">
      <%= render :partial => 'shared/header' %>
      <div id="wrapper">
        <div class="container left">
          <div class="breadcrumb">
            <%= yield :breadcrumb %>
          </div>
          <h2> <%= yield :heading %> </h2>

          <%= yield %>

        </div>
        <%= render :partial => '/shared/sidebar'%>
        <div class="clear"></div>
      </div>
    </div>
    <%= render :partial => 'shared/footer'%>
  </body>

</html>

