<!DOCTYPE html>
<html>
<head>
  <title>Muvi</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :js %>
</head>
 <body>
  <div id='global_links' class='right'>
      <a href="/auth/twitter" class="auth_provider">
      <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
      Twitter
    </a>

  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
    Facebook
  </a>
    <% unless current_user -%>



      <%= link_to 'Sign-up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to_oauth2 "Sign In with Facebook" %>
    <%else-%>
      <%= link_to 'Comming soon movies', coming_soon_movies_path %>
      <%= link_to 'Edit profile', edit_user_registration_path %>
      <%= link_to 'Fetch fb data', fetch_path %>
      <%= link_to 'Logout', destroy_user_session_path %>
    <%end-%>
  </div>
  <div class='clear'></div>
  <div id ='wrapper'>
    <%= yield %>
  </div>

  </body>
</html>

